.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #0f0e17;
}

h1 {
  margin: 30px;
  padding-top: 70px;
  font-family: 'Noto Serif', serif;
  text-shadow: 5px 0 #9c070c;
  font-size: 6rem;
  color: #f9f1d8;
}

p {
  font-size: 1.25rem;
  color: #a7a9be;
  font-family: 'Martel Sans', sans-serif;
}

img {
  width: 80%;
}

.button {
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

#btn {
  width: 125px;
  height: 50px;
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  background: #9c070c;
  color: #f9f1d8;
  border-radius: 8px;
  border: none;
}

footer {
  position: absolute;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  color: #a7a9be;
  text-align: center;
  font-family: 'Martel Sans', sans-serif;
  font-size: .8rem;
}
